button {
    height: 400px;
    width: 450px;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    background-color: rgba(128, 128, 128, 0.184);
}
a {
    color: white;
    text-decoration: none;
    font-size: 35px;
}
body {
    background-color: black;
    margin: 10px;
    color:white;
}
#main{
    padding: 20px;
}
.home-button{
    display: inline-block;
    background-color: #374151;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 12px;
    margin:1px;
    font-weight: bold;
    transition: 0.3s;
    overflow: none;
    text-align: center;
    font-size: 40px;
}

.home-button:hover{
    background-color: #4B5563;
    transform: translateY(-3px);
}
#glutes {
    background-color: #BE185D;
    border-color: #EC4899;
    box-shadow: 0px 10px 25px rgba(236,72,153,0.5);
}
#back {
    background-color: #1D4ED8;
    border-color: #3B82F6;
    box-shadow: 0px 10px 25px rgba(59,130,246,0.5);
}
#full_body {
    background-color: #059669;
    border-color: #10B981;
    box-shadow: 0px 10px 25px rgba(16,185,129,0.5);
}
#recovery {
    background-color: #6B7280;
    border-color: #9CA3AF;
    box-shadow: 0px 10px 25px rgba(156,163,175,0.5);
}
#glutes_core {
    background-color: #7C3AED;
    border-color: #A78BFA;
    box-shadow: 0px 10px 25px rgba(167,139,250,0.5);
}
input[type="checkbox"]{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    accent-color: #EC4899;
}
#warm_up_card{
    background-color: #1E1E1E;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}
#header_card{
    padding: 10px;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
}
#header{
    text-align: center;
    padding-bottom: 20px;
    font-size: 40px;
}
details{
    width: 80%;
    margin: 20px auto;
    border-radius: 20px;
    overflow: hidden;
}
summary{
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.exercise{
    background-color: rgba(255,255,255,0.1);
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}
.exercise-label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 50px;
}
#warm_up_card{
    background-color: #F59E0B;
    padding: 30px;
}
#dumbbells_card{
    background-color: #2563EB;
    padding: 30px;
}
#machine_card{
    background-color: #059669;
    padding: 30px;
}

#cardio{
    background-color: #DC2626;
    padding: 30px;
}
#stretching{
    background-color: #7C3AED;
    padding: 30px;
}
#sauna{
    background-color: #EA580C;
    padding: 30px;
}
#core_card{
    background-color: #DE3163;
    padding: 30px;
}
p{
    font-size: 50px;
}
#top{
    font-size: 1000px;
}